.container_nutrition {
   max-width: 42rem;
   margin: 0 auto;
   border: 1.5px solid #999;
   background-color: rgb(238, 237, 237);
}

.container_nutrition li {
   width: 100%;
   list-style-type: none;
   display: grid;
   grid-template-columns: 50% 30% 20%;
   background-color: #fff;
}

.container_nutrition li:nth-last-of-type(2n) {
   background-color: #eee;
}

.container_nutrition li span {
   /* border-bottom: 1px solid #bbb; */
   padding: 0.2rem 0.9rem;
}

.container_nutrition li span:not(:nth-of-type(1)) {
   font-size: 1.9rem;
   text-align: right;
   border-left: 1px solid #bbb;
}

.container_nutrition span.bold {
   font-weight: 700;
   color: #333;
}
