.form {
   height: 100%;
   /* background-color: aqua; */
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 0.2rem;
}

.container_input {
   height: 3.6rem;
   background-color: rgb(237, 231, 228);
   /* border: 3px solid green; */
   border-radius: 30px;
   overflow: hidden;
}

.container_input:focus-within {
   box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.365);
}

.input {
   width: 50rem;
   height: 100%;
   background-color: rgb(237, 231, 228);
   border: none;
   outline: none;
   font-family: var(--font-paragraph-1);
   font-size: 2rem;
   padding-left: 2rem;
   /* border: 1px solid #bbb; */
   border-radius: 30px 35px 35px 30px;
}

.button {
   width: 6rem;
   height: 100%;
   background-color: var(--color-brand-orange);
   font-size: 2rem;
   color: #333;
   border: #333;
   cursor: pointer;
   /* border: 1px solid #333; */
   border-radius: 0 30px 30px 0;
}

.slogan {
   font-family: var(--font-titles-1);
   font-style: italic;
   font-size: 2.5rem;
   color: #fff;
   text-align: right;
   margin-top: 0.4rem;
   /* background-color: aquamarine; */
}
