.form {
   background-color: aqua;
   display: flex;
   justify-content: center;
}

.input {
   width: 45rem;
   height: 4rem;
}

.button {
   width: 4rem;
   height: 4rem;
   background-color: red;
   font-size: 2.2rem;
   color: #333;
}
