.container_socialNetworkLinks {
   width: 15rem;
   height: auto;
   color: #fff;
   /* position: absolute;
   top: 50%;
   right: 7%;
   transform: translateY(-50%); */
   /* background-color: rgb(91, 81, 81); */
}

.container_socialNetworkLinks ul {
   display: flex;
   justify-content: space-between;
}
.container_socialNetworkLinks li {
   width: 3.4rem;
   height: 3.4rem;
   /* background-color: rgb(17, 15, 15); */
   background-color: rgb(19, 72, 37);
   /* border: 1px solid rgb(85, 94, 86); */
   border-radius: 50%;
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container_socialNetworkLinks li:hover {
   background-color: rgb(93, 113, 98);
}

.container_socialNetworkLinks li button {
   position: relative;
   color: #eee;

   font-size: 1.5rem;
}

.container_socialNetworkLinks li button svg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
