.container_socialNetworkLinks {
   width: 15rem;
   height: auto;
   color: #fff;
}

.container_socialNetworkLinks ul {
   display: flex;
   justify-content: space-between;
}
.container_socialNetworkLinks li {
   width: 3.4rem;
   height: 3.4rem;
   background-color: rgb(19, 72, 37);
   border-radius: 50%;
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container_socialNetworkLinks li:hover {
   background-color: rgb(93, 113, 98);
}

.container_socialNetworkLinks li a {
   position: relative;
   color: #eee;

   font-size: 1.5rem;
}

.container_socialNetworkLinks li a svg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
