.header {
   width: 100vw;
   height: var(--height-header);
   position: fixed;
   z-index: 10;
}

.upperBlock {
   width: 100%;
   height: 70%;
   padding: 0 5rem;
   background: linear-gradient(
      to Right top,
      rgb(24, 92, 22),
      rgb(141, 193, 133)
   );

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container_brandName {
   width: auto;
   padding: 0.1rem 1.6rem;
   font-family: var(--font-titles-1);
   font-weight: 400;
   border: 1px solid rgb(169, 166, 166);
   border-radius: 20px;
   cursor: pointer;
}

.container_brandName span {
   font-size: 5rem;
   color: var(--color-white);
}

.container_brandName span:nth-of-type(2) {
   color: var(--color-brand-orange);
   font-style: italic;
}

.container_input {
   width: 72rem;
   height: auto;
   display: flex;
   justify-content: space-between;
}

.lowerBlock {
   height: 30%;
   background-color: var(--color-brand-green-light);
   position: relative;
   border-bottom: 1px solid rgb(197, 131, 9);
}
