.nav {
   width: 50rem;
   height: 3rem;
   /* background-color: rgb(174, 200, 179); */
   /* margin: 0 auto; */
   font-family: var(--font-paragraph-1);
   color: var(--color-white);
   position: absolute;
   top: 50%;
   left: 3%;
   transform: translateY(-50%);
}

.nav ul {
   display: flex;
   justify-content: space-between;
   /* background-color: rgb(182, 134, 134); */
   font-size: 2rem;
   list-style-type: none;
}

.nav ul li a {
   color: inherit;
}
