.nav {
   width: 30rem;
   height: 4rem;
   background-color: rgb(174, 200, 179);
   margin: 0 auto;
}

.nav ul {
   display: flex;
   justify-content: space-between;
   background-color: rgb(182, 134, 134);
   font-size: 2rem;
   list-style-type: none;
}
