.container_main-footer {
   width: 100%;
   height: auto;
   position: absolute;
   top: calc(var(--height-header) + 2rem);
}

.container_initial-message {
   width: 93%;
   height: 20rem;
   background-color: rgb(232, 232, 230);
   background-size: 30%;
   background-position: 0 80%;
   position: absolute;
   top: calc(var(--height-header));
   left: 50%;
   transform: translateX(-50%);
   /* margin: 5rem auto; */
   margin-bottom: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
}

.container_initial-message span {
   width: 70%;
   max-width: 92rem;
   height: 80%;
   position: absolute;
   top: 50%;
   right: 30px;
   /* left: 50%; */
   transform: translate(0, -50%);
   color: #fff;
   font-family: var(--font-message-home);
   font-size: 6.7rem;
   font-weight: 200;
   font-style: italic;
   text-align: right;
   text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.869);
   line-height: 6.9rem;
   background-color: rgba(199, 117, 17, 0.313);
   /* border: 1px solid rgba(184, 182, 179, 0.498); */
   border-radius: 20px;
   padding: 1rem 7rem;
   overflow: hidden;
}

.showImageHome {
   top: calc(var(--height-header) + 25rem);
}
