.container_main-footer {
   width: 100%;
   height: auto;
   position: absolute;
   top: calc(var(--height-header) + 2rem);
}

.container_initial-message {
   width: 90%;
   height: 20rem;
   /* background-color: rgb(7, 6, 3); */
   background-color: rgb(232, 232, 230);
   background-size: 30%;
   background-position: 0 80%;
   position: absolute;
   top: calc(var(--height-header));
   left: 50%;
   transform: translateX(-50%);
   /* margin: 5rem auto; */
   margin-bottom: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
}

.image_home_message {
   /* margin: 0 auto; */
   /* margin-left: 3rem; */
   height: 100%;
   width: 60%;
   background: linear-gradient(
         90deg,
         rgba(237, 230, 228, 0.347),
         rgba(212, 202, 202, 0.243)
      ),
      url(../../../project_imgs/iv-therapy-phoenix-ingredients.png);
   /* background: linear-gradient(
         90deg,
         rgba(242, 158, 121, 0.605),
         rgba(232, 229, 229, 0.692)
      ),
      url(../../../project_imgs/27301.png.crdownload); */
   background-size: cover;
   background-position: 70% 80%;
   transform: rotateY(180deg);
}

/* .image_home_message:nth-of-type(2) {
   width: 55rem;
   background: linear-gradient(
         220deg,
         rgba(10, 9, 8, 0.93),
         rgba(43, 10, 10, 0.849)
      ),
      url(../../../project_imgs/sharon-pittaway-KUZnfk-2DSQ-unsplash.jpg);
   background-size: cover;
   background-position: 10% 70%;
   transform: rotateY(180deg);
} */

.container_initial-message span {
   width: 70%;
   max-width: 92rem;
   height: 80%;
   position: absolute;
   top: 50%;
   right: 30px;
   /* left: 50%; */
   transform: translate(0, -50%);
   color: #fff;
   font-family: var(--font-message-home);
   font-size: 6.7rem;
   font-weight: 200;
   font-style: italic;
   text-align: right;
   text-shadow: 2px 5px 12px rgba(0, 0, 0, 0.76);
   line-height: 6.9rem;
   background-color: rgba(199, 117, 17, 0.313);
   /* border: 1px solid rgba(184, 182, 179, 0.498); */
   border-radius: 20px;
   padding: 1rem 7rem;
   overflow: hidden;
}

.showImageHome {
   top: calc(var(--height-header) + 25rem);
}
