.container_card {
   width: 100%;
   height: 40rem;
   /* max-height: 40rem; */
   position: relative;
   overflow: hidden;
   text-decoration: none;
}

.container_3cards {
   height: 48rem;
}

.container_card-slider {
   margin: 1rem 1.6rem 1.6rem 1.5rem;
}

.container_img {
   width: 100%;
   height: auto;
   position: relative;
}

.img {
   width: 100%;
   height: auto;
   /* position: absolute; */
   /* top: 0; */
   /* left: 0; */
}

.img_filter {
   width: 100%;
   height: 100%;
   background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.4)
   );
   position: absolute;
   top: 0;
   left: 0;
}

.container_timeLikes {
   position: absolute;
   bottom: 6%;
   right: 3%;
   width: 60%;
   /* background-color: aqua; */
   color: var(--color-white);
   display: flex;
   justify-content: flex-end;
}

.likes,
.time {
   width: auto;
   background-color: var(--color-background-likes);
   /* border: 1px solid #000; */
   padding: 0.2rem 1.2rem;
   font-size: 1.8rem;
   font-weight: 400;
   display: flex;
   justify-content: center;
   font-family: var(--font-paragraph-1);
   overflow: hidden;
}

.likes {
   width: auto;
}

.likes span,
.time span {
   margin-left: 0.5rem;
}

.container_details {
   width: 95%;
   min-height: 40%;
   margin: 0 auto;
   text-align: center;
   overflow: hidden;
   /* background-color: aqua; */
   color: var(--color-paragraph-1);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.img_title {
   width: 90%;
   font-family: var(--font-paragraph-1);
   font-size: 1.6rem;
   text-transform: uppercase;
   font-weight: 700;
   border-bottom: 1px solid var(--color-lines-1);
   margin: 1rem 0;
   padding: 0.3rem 0;
   cursor: pointer;
}

.img_summary {
   width: 95%;
   margin: 0;
   font-size: 1.9rem;
   line-height: 2.1rem;
   /* background-color: red; */
   font-family: var(--font-paragraph-1);
   font-weight: 400;
   cursor: pointer;
}

.bookmark {
   color: rgb(60, 56, 52);
   font-size: 2rem;
   position: absolute;
   bottom: 2%;
   right: 3%;
   cursor: pointer;
}
