.container_section {
   /* height: 20rem; */
   background-color: var(--color-white);
   display: flex;
   /* flex-direction: row; */
}

.container_image {
   width: 40%;
   /* background-color: aquamarine; */
   border: 2px solid rgb(175, 119, 41);
   position: relative;
}

.container_image img {
   max-width: 45rem;
   width: 80%;
   position: absolute;
   top: 4rem;
   right: 50%;
   transform: translateX(50%);
}

.container_description {
   width: 60%;
   padding: 4%;
   /* background-color: var(--color-white); */
   border: 2px solid purple;
}

.container_title {
   max-width: 45rem;
   padding-bottom: 2rem;
   margin-bottom: 2rem;
   border-bottom: 1px solid var(--color-lines-1);
   background-color: rgb(207, 207, 222);
}

.title {
   font-size: 4rem;
   font-family: var(--font-titles-1);
   color: var(--color-titles-1);
   line-height: 4.3rem;
}

.container_times-likes-servings {
   width: 30rem;
   height: auto;
   background-color: var(--color-background-likes);
   color: var(--color-white);
   display: flex;
   justify-content: space-between;
}

.container_ingredients {
   border: 1px solid rgb(30, 70, 145);
}

.container_ingredients,
.container_instructions {
   line-height: var(--line-height-paragraph);
}

.container_ingredients h3,
.container_instructions h3,
.container_nutrition h3 {
   font-family: var(--font-titles-1);
   color: var(--color-titles-1);
   font-weight: 400;
   font-size: 3.6rem;
   line-height: 4rem;
   margin-bottom: 2rem;
}

.container_instructions {
   border: 1px solid rgb(15, 132, 32);
}

.container_nutrition {
   border: 1px solid rgb(181, 69, 9);
}
