.container_section {
   /* width: 9%; */
   background-color: var(--color-white);
   /* background-color: rgb(196, 179, 156); */
   display: flex;
}

.container_description {
   width: 60%;
   padding: 6rem 0;
   /* background-color: var(--color-white); */
   border: 2px solid #ddd;
}

.container_title {
   max-width: 55rem;
   padding-bottom: 1.8rem;
   margin: 0 auto 2rem auto;
   border-bottom: 1px solid var(--color-lines-1);
   /* background-color: rgb(207, 207, 222); */
   text-align: left;
}

.title {
   font-size: 6rem;
   font-family: var(--font-titles-1);
   color: var(--color-titles-1);
   line-height: 5.6rem;
}

.container_diet-likes {
   display: flex;
   /* justify-content: s; */
   /* background-color: aquamarine; */
}

.container_ingredients,
.container_instructions {
   max-width: 55rem;
   margin: 0 auto 2rem auto;
   line-height: var(--line-height-paragraph);
   border: 1px solid #bbb;
   padding: 2rem;
}

.container_instructions {
   padding-left: 4rem;
}

.container_ingredients h3,
.container_instructions h3,
.container_nutrition h3 {
   font-family: var(--font-titles-1);
   color: var(--color-titles-1);
   font-weight: 400;
   font-size: 3.6rem;
   line-height: 4rem;
   margin-bottom: 2rem;
}

.visit_url {
   max-width: 55rem;
   margin: 0 auto 0 auto;
}

.container_image {
   width: 40%;
   /* background-color: aquamarine; */
   padding: 6rem 0;
   border: 2px solid #ddd;
   /* position: relative; */
}

.container_image img {
   max-width: 50rem;
   width: 85%;
   display: block;
   margin: 0 auto 4rem auto;
}

.container_nutrition {
   padding: 2rem 3rem;
   background-color: rgb(255, 210, 178);
}
.container_nutrition h3 {
   max-width: 42rem;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 4rem;
   border-bottom: 1px solid #777;
   /* background-color: aquamarine; */
}

.container_nutrition .header_table {
   max-width: 42rem;
   margin: 0 auto 0.4rem auto;
   font-size: 1.85rem;
   display: grid;
   text-align: right;
   grid-template-columns: 50% 30% 20%;
}
.container_nutrition .footer_table {
   font-size: 1.7rem;
   margin: 2rem 0;
}
.container_nutrition .footer_table p {
   max-width: 42rem;
   margin: 0.5rem auto 0 auto;
}
