.collection {
   margin-bottom: 4rem;
}

.collection h2 {
   color: var(--color-titles-1);
   font-family: var(--font-titles-1);
   font-weight: 400;
   font-size: 5rem;

   margin-bottom: 1.5rem;
   border-bottom: 1px solid #ccc;
   cursor: pointer;
}
