.collection {
   margin-bottom: 4rem;
}

.collection h2 {
   color: var(--color-titles-1);
   font-family: var(--font-titles-1);
   font-weight: 400;
   /* text-transform: uppercase; */
   font-size: 5rem;
   /* color: white; */
   /* background-color: aqua; */
   margin-bottom: 1.5rem;
   border-bottom: 1px solid #ccc;
}
