.ul {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 4rem 2rem;
}

.ul li {
   list-style-type: none;
}

h2 {
   color: var(--color-titles-1);
   font-family: var(--font-titles-1);
   font-weight: 400;
   font-size: 5rem;
   margin-bottom: 2rem;

   border-bottom: 1px solid #ccc;
}

.search_reference {
   font-style: italic;
}

.error_message,
.notFound_message {
   font-size: 4rem;
   font-family: var(--font-titles-1);
   text-align: center;
   color: #333;
   margin-top: 3rem;
}

.notFound_message {
   font-size: 3.4rem;
   text-align: left;
}

.spinner {
   margin-top: 8rem;
}

/* PAGINATION ------------------------ */

.paginationBtns {
   width: 50%;
   height: 5rem;
   margin: 6rem auto 0 auto;
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.paginationBtns a:not(.nextBtn):not(.previousBtn):not(.hide) {
   width: 4rem;
   height: 4rem;
   display: inline-block;
   padding: 1rem;
   margin: 0.5rem;
   border: 1px solid #999;
   color: #000;
   cursor: pointer;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.paginationBtns a:not(.nextBtn):not(.previousBtn):not(.hide):focus {
   color: #fff;
   background-color: var(--color-brand-green-dark);
}

.paginationActive a:not(.nextBtn):not(.previousBtn):not(.hide) {
   color: #fff;
   background-color: var(--color-brand-green-dark);
}

.nextBtn,
.previousBtn {
   width: 8rem;
   text-align: center;
   display: inline-block;
   cursor: pointer;
}

.paginationDisabled {
   color: #ccc;
}

.hide {
   display: none;
}
