.ul {
   width: 100%;
   /* background-color: rgb(156, 48, 48); */
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 4rem 2rem;
   /* column-gap: 3rem; */
}

.ul li {
   list-style-type: none;
}

h2 {
   color: var(--color-titles-1);
   font-family: var(--font-titles-1);
   font-weight: 400;
   font-size: 4rem;
   margin-bottom: 2rem;

   border-bottom: 1px solid #ccc;
}

.search_reference {
   font-style: italic;
}

.error_message,
.notFound_message {
   font-size: 4rem;
   font-family: var(--font-titles-1);
   text-align: center;
   color: #333;
   margin-top: 3rem;
}

.notFound_message {
   font-size: 3.4rem;
   text-align: left;
}
