@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Lato:wght@100;300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300;1,400&display=swap");

:root {
   --font-titles-1: "Cardo", serif;
   --font-paragraph-1: "Lato", sans-serif;

   --font-message-home: "Cormorant Infant", serif;

   --color-brand-green-light: rgb(21, 156, 32);
   --color-brand-green-dark: rgb(33, 103, 22);
   --color-brand-brown: rgb(103, 45, 22);
   --color-brand-orange: rgb(255, 157, 0);
   --color-brand-red: rgb(225, 7, 7);

   --color-background-likes: rgba(255, 0, 0, 0.612);

   --color-titles-1: rgb(84, 46, 46);
   --color-paragraph-1: #555;

   --color-lines-1: rgb(145, 144, 144);

   --color-white: #fff;
   --color-black: #000;
   --color-grey-light: #eee;
   --color-grey-medium: #bbb;
   --color-grey-dark: rgb(87, 87, 87);

   --height-header: 14rem;
   --line-height-paragraph: 2.5rem;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   background-color: var(--color-grey-light);
   position: relative;
   font-family: var(--font-paragraph-1);
   color: var(--color-paragraph-1);
   font-size: 2rem;
}

main {
   background-color: transparent;
}

section {
   /* background-color: aquamarine; */
   width: 90%;
   min-height: 40rem;
   height: auto;
   margin: 0 auto;
}
