:root {
   --font-titles-1: "Times New Roman", Times, serif;
   --font-titles-2: "Times New Roman", Times, serif;
   --font-paragraph-1: Arial, Helvetica, sans-serif;

   --color-brand-green-1: rgb(78, 188, 30);

   --color-white: #fff;
   --color-black: #000;
   --color-grey-light: #eee;
   --color-grey-medium: #bbb;
   --color-grey-dark: #999;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   background-color: var(--color-grey-light);
}

main {
   /* background-color: green; */
   background-color: transparent;
}

section {
   /* background-color: aquamarine; */
   width: 90%;
   margin: 0 auto;
}
