.container_card {
   width: 100%;
   height: 45rem;
   /* max-height: 40rem; */
   margin: 1rem 1.6rem 1.6rem 1.6rem;
   position: relative;
   overflow: hidden;
   text-decoration: none;
}

.container_img {
   width: 100%;
   height: auto;
   position: relative;
}

.img {
   width: 100%;
   height: auto;
   /* position: absolute; */
   /* top: 0; */
   /* left: 0; */
}

.img_filter {
   width: 100%;
   height: 100%;
   background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.4)
   );
   position: absolute;
   top: 0;
   left: 0;
}

.container_details {
   width: 95%;
   min-height: 40%;
   margin: 0 auto;
   text-align: center;
   overflow: hidden;
   /* color: var(--color-paragraph-1); */
   color: #555;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.img_title {
   width: 90%;
   font-family: var(--font-paragraph-1);
   /* font-family: var(--font-title-4); */
   font-size: 1.5rem;
   text-transform: uppercase;
   font-weight: 700;
   /* font-style: italic; */
   border-bottom: 1px solid rgb(145, 144, 144);
   margin: 1rem 0;
   padding: 0.3rem 0;
}

.container_timeLikes {
   position: absolute;
   bottom: 4%;
   right: 3%;
   width: 50%;
   /* background-color: aqua; */
   color: #fff;
   display: flex;
   justify-content: flex-end;
}

.likes,
.time {
   width: 10rem;
   background-color: rgba(255, 0, 0, 0.612);
   /* border: 1px solid #000; */
   padding: 0.2rem;
   font-size: 1.8rem;
   font-weight: 400;
   display: flex;
   justify-content: center;
   font-family: var(--font-paragraph-1);
}

.likes span,
.time span {
   margin-left: 0.5rem;
}

.img_summary {
   width: 95%;
   /* height: 25rem; */
   margin: 0;
   font-size: 1.8rem;
   line-height: 2rem;
   /* background-color: red; */
   font-family: var(--font-paragraph-1);
   font-weight: 400;
   /* letter-spacing: 1px; */
}

.bookmark {
   color: #000;
   font-size: 2rem;
   position: absolute;
   bottom: 2%;
   right: 2%;
}
