.container_slider {
   width: 100%;
   background-color: rgb(207, 97, 97);
   display: flex;
   justify-content: center;
}

.container_card {
   width: 100%;
   /* height: 100%; */
   max-height: 40rem;
   border-radius: 1.5rem;
   position: relative;
   overflow: hidden;
   background-color: red;
   text-decoration: none;
}

.img {
   width: 100%;
   height: auto;
}
.img_filter {
   width: 100%;
   height: 100%;
}

.img_filter {
   /* z-index: 10; */

   background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.3)
   );
   position: absolute;
   top: 0;
   left: 0;
}

.container_details {
   margin-top: 1rem;
}

.img_title {
   font-family: var(--font-titles-2);
   font-size: 2.4rem;
   color: var(--color-black);
}

.likes,
.time {
   font-size: 2rem;
   font-weight: 700;
   color: #222;
}

.img_summary {
   font-size: 2rem;
   font-family: var(--font-paragraph-1);
}
